*{
    background: #97D2FB;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.logo{
    padding-top: 10px;
    margin-left: 80px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: #0a3871;
    margin-top: 90px;
    text-transform: lowercase;
    height: 200px;
}
::placeholder{color: #0a3871;}
    .text-area:focus{
        outline: none;
}

#mensaje{
    background: white;
    background-image: url(Imagenes/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    display: flex;
    height: 300px;
}

.mensaje:focus{
    outline: none;
}

.button{
    display: flex;
    margin-top: 18px;
}

.encriptar{
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.desencriptar{
    background: white;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    margin-left: 30px;
    width: 328px;
}

.copiar{
    background: #2671C6;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin-top: 400px;
    margin-left: 108px;
    position: absolute;
}

.informacion {
    color: #495057;
    font-size: 18px;
}

footer{
    text-align: center;
}
small{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}